<%- include('partials/header.html') %> <!--INCLUDE FEITO PELO EJS-->

    <section class="featured-news">
        <div class="center">
            <div class="featured-img">
                <div class="featured-overlay"></div><!--div vazia-->
                <div class="featured-title-description">
                    <a href="<%= news[2].slug %>">
                        <h2><%= news[2].title %></h2>
                        <p><%- news[2].shortContent %>...</p>
                    </a>
                </div><!--título da notícia destaque-->
                <img src="<%= news[2].image %>" alt="Notícia destaque"/>
            </div><!--img da notícia destaque-->
        </div><!--center-->
    </section><!--notícias em destaque-->

    <section class="other-news">
        <div class="title-other-news">
            <h2>Últimas notícias</h2>
            <br/>
            <div class="center">
                <div class="last-news">
                    <div class="box-last-news">
                        <img src="../public/images/img3.jpeg" alt="Últimas notícias"/>
                        <div class="box-last-news-content">
                            <h3 class="box-last-news-category">CATEGORIA</h3>
                            <h2 class="box-last-news-title">TÍTULO DA NOTÍCIA</h2>
                            <p class="box-last-news-half-news">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sodales quis leo eu pulvinar. Nam et venenatis orci. Morbi purus ipsum, mattis in dictum eget, rutrum vitae enim. Quisque nec hendrerit purus.</p>
                            <a href="/titulo-da-noticia">Ler mais</a>
                        </div><!--conteúdo da box sem a imagem-->
                    </div><!--box das últimas notícias 1-->
                    <div class="box-last-news">
                        <img src="../public/images/img3.jpeg"/>
                        <div class="box-last-news-content">
                            <h3 class="box-last-news-category">CATEGORIA</h3>
                            <h2 class="box-last-news-title">TÍTULO DA NOTÍCIA</h2>
                            <p class="box-last-news-half-news">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sodales quis leo eu pulvinar. Nam et venenatis orci. Morbi purus ipsum, mattis in dictum eget, rutrum vitae enim. Quisque nec hendrerit purus.</p>
                            <a href="/titulo-ultima-noticia">Ler mais</a>
                        </div><!--conteúdo da box sem a imagem-->
                    </div><!--box das últimas notícias 2-->
                </div><!--últimas notícias-->

                <div class="most-viewed">
                    <div class="most-viewed-title">
                        <h3>Mais Lidas</h3>
                    </div>
                    <div class="box-most-viewed">
                        <img src="../public/images/fotografo.jpg" alt="Notícia mais vista">
                        <div class="box-most-viewed-content">
                            <h3 class="box-most-viewed-category">Fotógrafo</h3>
                            <p class="box-most-viewed-half-news">A fotografia conta nossa história, nossa identidade, evolução e nossas grandes conquistas.</p>
                            <a href="/titulo-noticia-mais-vista">Ler mais</a>
                        </div><!--conteudo da box sem a imagem-->
                    </div><!--box das notícias mais vistas 1-->
                    <div class="box-most-viewed">
                        <img src="../public/images/fotografo.jpg" alt="Notícia mais vista">
                        <div class="box-most-viewed-content">
                            <h3 class="box-most-viewed-category">Fotógrafo</h3>
                            <p class="box-most-viewed-half-news">A fotografia conta nossa história, nossa identidade, evolução e nossas grandes conquistas.</p>
                            <a href="/titulo-noticia-mais-vista">Ler mais</a>
                        </div><!--conteudo da box sem a imagem-->
                    </div><!--box das notícias mais vistas 2-->
                    <div class="box-most-viewed">
                        <img src="../public/images/fotografo.jpg" alt="Notícia mais vista">
                        <div class="box-most-viewed-content">
                            <h3 class="box-most-viewed-category">Fotógrafo</h3>
                            <p class="box-most-viewed-half-news">A fotografia conta nossa história, nossa identidade, evolução e nossas grandes conquistas.</p>
                            <a href="/titulo-noticia-mais-vista">Ler mais</a>
                        </div><!--conteudo da box sem a imagem-->
                    </div><!--box das notícias mais vistas 3-->
                    <div class="box-most-viewed">
                        <img src="../public/images/fotografo.jpg" alt="Notícia mais vista">
                        <div class="box-most-viewed-content">
                            <h3 class="box-most-viewed-category">Fotógrafo</h3>
                            <p class="box-most-viewed-half-news">A fotografia conta nossa história, nossa identidade, evolução e nossas grandes conquistas.</p>
                            <a href="/titulo-noticia-mais-vista">Ler mais</a>
                        </div><!--conteudo da box sem a imagem-->
                    </div><!--box das notícias mais vistas 4-->
                </div><!--notícias mais vistas-->
            </div><!--center-->
        </div><!--título de outras notícias-->
    </section><!--outras notícias-->

    <script src="../public/script.js"></script>
    <%- include('partials/footer.html') %>